<!DOCTYPE html>
<html>
<head>
    <title>W3id login page</title>
</head>

<body>
    <p>Hello
        <%= claims.given_name %>
            <%= claims.family_name %>
    </p>
    <p>User details (ID token in _json object): </p>
    <pre><%= info %> </pre>
    <hr> <a href="/">home</a>"

</body>

</html>